@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Karla", sans-serif;
}

nav {
    padding: 2rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    all: unset;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme--generator {
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: -0.1rem;
}

.react--course {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
}

.inter--box {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input--box {
    display: flex;
    gap: 5px;
}

.input {
    all: unset;
    color: #0d0d0d;
    border:#D5D4D8 1px solid;
    border-radius: 5px;
    width: 230px;
    height: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-indent: 5px;
}

.get--meme {
    all: unset;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    min-width: 200px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.meme {
    position: relative;
}
.meme--text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.top {
    top: 0;
}
.bottom {
    bottom: 0;
}
.meme--image {
    max-width: 100vw;
}